doctype html
html(lang="en")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Shanu Dance Academy 
      block scripts 
      block style
    body 
      nav#navbar
        ul
           div#site-name
             h2 Dance
           li #[a(href="/") Home]
           li #[a(href="/") About]
           li #[a(href="/") services]
           li #[a(href="/") Class Info]
           li #[a(href="/contact") Contact us]
      block content 
      footer#footer 
          |Copyright @ 2022 ShanuDanceAcademy.com |All right reserved
